body {
  --background: #161c26;
  --foreground: #e6e6e6;

  --modal-bg: rgba(13, 17, 23, 0.95);
  --modal-border: #2d3748;
  --modal-close-button-bg: #6b7280;
  --modal-close-button-bg-hover: #9ca3af;

  --menu-button-bg: #1f2937;
  --menu-button-bg-hover: #374151;
  --menu-button-fg: #f9fafb;

  --task-border: #333;
  --task-fg: black;
  --task-blocked-bg: #ef4444;
  --task-pending-bg: #ffd700;
  --task-completed-bg: #22c55e;
  --task-edge: #464399;
  --task-edge-connecting: #06b6d4;
}
